///////////////////////////////////////////////////////////LOGIN
.content-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  
    &__loading {
      text-align: center;
      margin-bottom: 10px;
    }
  
    &__background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  
      img {
        max-width: 100%;
        height: auto;
        opacity: 0.4;
      }
    }
  
    &__form {
      width: 270px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 15px;
  
      &__title {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        color: white;
  
        h3 {
          margin: 0;
        }
      }
  
      &__input {
        position: relative;
        width: 100%;
  
        input {
          width: 100%;
          padding: 10px;
        }
  
        i {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
  
      &__button {
        .btn-login {
          height: 48px;
          width: 100%;
          color: #fff;
          background-color: #c03811;
          position: relative;
        }
      }
    }
  }
  
  .modal-mensaje {
    text-align: center;
  
    h2 {
      margin-bottom: 10px;
    }
  
    .btn-danger {
      padding: 6px;
    }
  }
  

.btn-login:disabled {
    background-color: #c03811;
    opacity: 0.5;
    cursor: not-allowed;
}
.btn-login:hover {
    background-color: #c03811;
    opacity: 0.8;
}

////////////////////boton cierre de sesion
.btn-closeSesion {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(125, 12, 12);
    color: #ccc;
    font-size: 14px;
}
.btn-closeSesion:hover {
    background-color: rgb(125, 12, 12);
    opacity: 0.8;
    color: #ccc;
}
/////////////////////////boton user
.btn-user {
    position: absolute;
    right: 150px;
    top: 20px;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(64, 104, 135);
    color: #ccc;
    font-size: 14px;
}
.btn-user:hover {
    background-color: rgb(64, 104, 135);
    opacity: 0.8;
    color: #ccc;
}