@media (max-width: 920px) {
    /////////////////CONTENEDOR DE TARJETAS
    .home {
        &__home-container {
            margin: 10px;
            &__card {
                width: 10rem;
                h2 {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 758px) {
    ///////////////////nombres de precios ingredientes reducidos
    .price-burguer {
        &__content-table {
            th.short-name-inv {
                display: table-cell;
            }
            th.long-name-inv {
                display: none;
            }
        }
    }
}
///////////////////////////////////////////////////////////PANTALLA 610PX
@media (max-width: 610px) {
    ///////////////////nombres de precios ingredientes reducidos
    .buttons-inv {
        display: flex;
        flex-direction: column;

        &__button {
            width: 70px;
            margin-left: 0px;
            margin-right: 0px;
            button {
                width: 70px;
            }
        }
    }
}
//////////////////////////////////historial gastos
@media (max-width: 604px) {
    .price-burguer {
        &__content-table {
            th.short-name-hg {
                display: table-cell;
            }
            th.long-name-hg {
                display: none;
            }
        }
    }
}

////////////////////////nombres de precios ingredientes reducidos
@media (max-width: 536px) {
    .price-burguer {
        &__content-table {
            th.short-name-i {
                display: table-cell;
            }
            th.long-name-i {
                display: none;
            }
        }
    }
}

///////////////////////////////////////////////////////////PANTALLA 473PX
@media (max-width: 473px) {
    ////////////////////CONTENEDOR DE TARJETAS
    .home {
        margin-top: -15px;
    }
    /////////////////TABLA PRECIO HAMBURGUESA
    .price-burguer {
        background: black;
        padding-bottom: 10px;
        margin: 15px;
        padding-top: 40px;

        h1 {
            margin: 20px;
        }

        &__content-table {
            margin: 20px;

            th {
                color: #ffe033;
            }
        }
    }

    /////////////////NAV DE PRECIOS HAMBUR / INGRE.
    .nav {
        margin: 0 20px 20px;
    }
    /////////////////LOGO PRINCIPAL
    .logo-content {
        img {
            width: 150px;
            margin: 20px;
        }
    }
    /////////////////////////boton borrar history
    .btn-delete {
        button {
            margin: 0px;
        }
    }
}

///////////////////////////////////////////////////////////PANTALLA 430PX
@media (max-width: 430px) {
    /////////////////TABLA PRECIO HAMBURGUESA
    .price-burguer {
        h1 {
            margin: 10px;
        }

        &__content-table {
            margin: 10px;

            ///////////////////nombres de precios hamburguesa reducidos
            th.long-name {
                display: none;
            }
            th.short-name {
                display: table-cell;
            }
        }
    }
    /////////////////NAV DE PRECIOS HAMBUR / INGRE.
    .nav {
        margin: 0 10px 10px;
    }
    /////////////////////////LOGO PTINCIPAL
    .logo-content {
        img {
            width: 150px;
            margin: 20px;
        }
    }
}

@media (min-width: 415px) {
    .btn-delete {
        button {
            margin: 0px;
        }
    }
    .long-name-button {
        display: inline;
    }
    .short-name-button {
        display: none;
    }
}

@media (max-width: 414px) {
    .btn-delete {
        width: 50px;
        button {
            margin: 0px;
            width: 50px;
        }
    }
    .long-name-button {
        display: none;
    }
    .short-name-button {
        display: inline;
    }
}

@media (max-width: 387px) {
    .btn-delete {
        button {
            width: 40px;
        }
    }
    .burguer_table {
        .btn img {
            width: 20px;
            margin-left: -3px;
        }
    }
}

@media (max-width: 375px) {
    .btn-delete {
        button {
            width: 35px;
        }
    }
    .burguer_table {
        .btn img {
            width: 20px;
            margin-left: -5px;
        }
    }
}
////////////////////////////////////////////para hamburguesas tarjetas
@media (max-width: 632px) {
    .ingredientes {
        display: none;
    }

    .grid-container {
        display: grid;
        /* Dos columnas de igual ancho */
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .grid-item {
        height: 300px;
    }
    .grid-burger img {
        margin-top: 10px;
        width: 60px;
    }
    .grid-item button {
        img {
            width: 30px;
        }
    }
    .grid-item {
        h2 {
            font-size: 1.2rem;
            margin-bottom: 10px;
            color: #ffe033;
        }
    }
    .precio {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .grid-item {
        h2 {
            font-size: 1rem;
        }
    }
    .grid-item {
        height: 280px;
    }
    .grid-container {
        margin-top: 30px;
        gap: 10px;
    }
    .burguer-grid {
        width: 98%;
        margin: auto;
    }
}
