////////////////////////////////////////mixing para flex
@import "./login.scss";
@import "./burger.scss";
@mixin flex($display, $jsCont, $alItem, $grap: null) {
    display: $display;
    align-items: $alItem;
    justify-content: $jsCont;
    @if $grap != null {
        flex-wrap: $grap;
    }
}
//////////////////////mixing para position
@mixin position(
    $position,
    $left: null,
    $right: null,
    $top: null,
    $bottom: null
) {
    position: $position;

    @if $left != null {
        left: $left;
    }
    @if $right != null {
        right: $right;
    }
    @if $top != null {
        top: $top;
    }
    @if $bottom != null {
        bottom: $bottom;
    }
}
///////////////////////////////7mixing transicion
@mixin transition($type, $time, $scale: null) {
    transition: $type $time;
    transform: scale($scale);
    cursor: pointer;
}
///////////////////////mixing tamaño
@mixin size($heigth: null, $width: null, $margin: null, $padding: null) {
    @if $heigth != null {
        heigth: $heigth;
    }
    @if $width != null {
        width: $width;
    }
    @if $padding != null {
        padding: $padding;
    }
    @if $margin != null {
        margin: $margin;
    }
}
///////////////////////////////////////////////////////////////////////////////////
/// //////////////////////////////////////////////////////////////////////ESTILOS
///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////loading - cargando
.loading {
    @include flex(flex, center, center);
    @include position(fixed, 0, 0, 0, 0);
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
}
///////////////////////////////logo taco-food
.logo-content {
    img {
        @include size(null, 170px, 40px, null);
        @include transition(transform, 0.2s ease-in-out);
    }

    img:hover {
        @include transition(transform, 0.2s ease-in-out, 1.05);
    }

    a {
        img:hover {
            box-shadow: 0 0 10px 5px rgba(223, 175, 31, 0.9);
            @include transition(box-shadow, 0.3s ease);
            border-radius: 50%;
        }
    }
}
$background-main: rgb(0, 0, 0);
///////////////////////////////////////////////////////////ESTILOS DEL MAIN
.main-content {
    min-height: 100vh;
    background-color: $background-main;
}

/////////////////////////////////////////////////////////ESTILOS DEL HOME
.home {
    &__home-container {
        @include flex(flex, center, center, wrap);
        padding-top: 20px;
        gap: 1rem;

        &__card {
            @include transition(transform, 0.3s ease-in-out);
            width: 13rem;
            h2 {
                font-size: 1.5rem;
            }
        }
        &__card:hover {
            @include transition(transform, 0.3s ease-in-out, 1.05);
            box-shadow: 0 0 10px 5px rgba(191, 144, 0, 0.7);
        }
    }
}
/////////////////////////////////boton de cambio de contraseña
.btn-key {
    img {
        width: 20px;
    }
}
//////////////////////////////////parrafo validacion de password
.validate-password {
    display: flex;
    width: 250px;
    p {
        font-size: 12px;
        color: red;
    }
}
//////////////////////////////////////////////////////
//////////////////////////////////////////////navMobile
.hamburger-btn {
    display: block;
    position: absolute;
    top: 200px;
    color: #ccc;
    font-size: 25px;
    z-index: 8;
    transition: left 1s ease, right 1s ease;
}

/* Cuando el menú está cerrado, coloca la hamburguesa a la izquierda */
.hamburger-btn--open {
    left: 10px; /* Alineado a la izquierda */
}

/* Cuando el menú está abierto, coloca la X a la derecha */
.hamburger-btn--close {
    top: 230px;
    right: 233px; /* Alineado a la derecha */
}

/* Estilos para el menú */
.navMobile {
    padding-top: 35px;
    position: absolute;
    top: 235px;
    left: -100%;
    width: auto;
    padding-right: 20px;
    height: auto;
    list-style: none;
    border-radius: 5px;
    border: 2px solid #7d7c7c;
    background-color: rgb(33, 31, 31);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: left 0.1s ease;
    z-index: 7;
    padding-bottom: 10px;
}

/* Cuando el menú está abierto, se mueve hacia la derecha */
.navMobile--open {
    left: -10px;
}

/* Estilos de los enlaces */
.navMobile__item {
    margin: 20px 0;
}
.navMobile__item:hover {
    background-color: rgb(152, 97, 97);
    transition: background-color 0.3s ease;
}

.navMobile-link {
    color: #ccc;
    font-size: 18px;
    text-decoration: none;
}
///////////////////////////////////////////////////////
/////////////////////////////////////////////////////nav
.nav {
    margin: 0 40px 40px;
    background-color: rgb(27, 27, 27);

    &__item {
        height: 60px;
        display: flex;
        align-items: center;
        transition: transform 0.3s ease-in-out;

        a {
            color: white;
            user-select: none;
        }

        a:focus {
            color: white;
        }
    }

    &__item:hover {
        background-color: rgb(54, 54, 54);
        border-radius: 5px;
        transition: transform 0.3s ease-in-out;
        transform: scale(1.05);

        a {
            color: white;
        }
    }
}
////////////////////////////estilos precios tablas hamburguesas, ingredientes, inventario
.burguer_table {
    background: black;
    padding-bottom: 10px;

    h1 {
        color: #ffe033;
        margin: 40px;
        user-select: none;
    }

    &__content-table {
        margin: 40px;

        th {
            color: #ffe033;
        }
        th.short-name {
            display: none;
        }
        th.long-name {
            display: table-cell;
        }
        //////////////////ingredientes
        th.short-name-i {
            display: none;
        }
        th.long-name-i {
            display: table-cell;
        }
        //////////////////////inventario
        th.short-name-inv {
            display: none;
        }
        th.long-name-inv {
            display: table-cell;
        }
        //////////////////////historial-gastos
        th.short-name-hg {
            display: none;
        }
        th.long-name-hg {
            display: table-cell;
        }

        ////////////////gastos

        /////////////////////////para columna de ingredientes
        .ingredientes {
            max-height: 70px;
            overflow-y: scroll;
        }
        ///////////////////////boton borrar history
    }
    .btn {
        img {
            width: 25px;
        }
    }
}

button:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
    border-radius: 5px;
}
//////////////////////////////modal general
.modalContent {
    input {
        margin-bottom: 10px;
    }
    //cuando no haya valores se desabilita el boton
    button:disabled {
        background-color: #ccc;
        color: #666;
        cursor: not-allowed;
    }
}
///////botones inventario
.buttons-inv {
    display: flex;
    flex-direction: row;
    &__button {
        button {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
///////////////////////////////modal detalle compra
.content-modal {
    &__detalles-gasto {
        h2,
        h3,
        th {
            color: #ffe033;
        }
        span {
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            font-size: 25px;
        }
        
    }
}


