///////////////////////////////////////////////////////////ESTILOS DEL LOGO HEADER
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta esto según tu diseño */
    position: fixed; /* Fija el spinner en la pantalla */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    z-index: 1000; /* Asegúrate de que esté en la parte superior */
}

.logo-content {
    img {
        width: 170px;
        margin: 40px;
        transition: transform 0.2s ease-in-out;
    }

    img:hover {
        transition: transform 0.2s ease-in-out;
        transform: scale(1.05);
        cursor: pointer;
    }

    a {
        img:hover {
            box-shadow: 0 0 10px 5px rgba(223, 175, 31, 0.9);
            transition: box-shadow 0.3s ease;
            border-radius: 50%;
        }
    }
}

///////////////////////////////////////////////////////////ESTILOS DEL MAIN
.main-content {
    min-height: 100vh;
    background-color: black;
}

/////////////////////////////////////////////////////////ESTILOS DEL HOME
.home {
    height: auto;
    justify-content: center;
    align-items: center;

    &__home-container {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        &__card {
            transition: transform 0.3s ease-in-out;
            width: 13rem;
            h2 {
                font-size: 1.5rem;
            }
        }

        &__card:hover {
            transform: scale(1.05);
            cursor: pointer;
            box-shadow: 0 0 10px 5px rgba(191, 144, 0, 0.7);
            transition: box-shadow 0.3s ease;
            transition: transform 0.3s ease-in-out;
        }
    }
}

///////////////////////////////////////////////////////////////estilos de precios
.nav {
    margin: 0 40px 40px;
    background-color: rgb(27, 27, 27);

    &__item {
        height: 60px;
        display: flex;
        align-items: center;
        transition: transform 0.3s ease-in-out;

        a {
            color: white;
            user-select: none;
        }

        a:focus {
            color: white;
        }
    }

    &__item:hover {
        background-color: rgb(54, 54, 54);
        border-radius: 5px;
        transition: transform 0.3s ease-in-out;
        transform: scale(1.05);

        a {
            color: white;
        }
    }
}
////////////////////////////estilos precios tablas hamburguesas, ingredientes, inventario
.burguer_table {
    background: black;
    padding-bottom: 10px;

    h1 {
        color: #ffe033;
        margin: 40px;
        user-select: none;
    }

    &__content-table {
        margin: 40px;

        th {
            color: #ffe033;
        }
        th.short-name {
            display: none;
        }
        th.long-name {
            display: table-cell;
        }
        //////////////////ingredientes
        th.short-name-i {
            display: none;
        }
        th.long-name-i {
            display: table-cell;
        }
        //////////////////////inventario
        th.short-name-inv {
            display: none;
        }
        th.long-name-inv {
            display: table-cell;
        }
        //////////////////////historial-gastos
        th.short-name-hg {
            display: none;
        }
        th.long-name-hg {
            display: table-cell;
        }

        ////////////////gastos
        .nav-link.long-name-gast {
            display: table-cell;
        }

        .nav-link.short-name-gast {
            display: none;
        }

        /////////////////////////para columna de ingredientes
        .ingredientes {
            max-height: 70px;
            overflow-y: scroll;
        }
        ///////////////////////boton borrar history
    }
    .btn {
        img {
            width: 25px;
        }
    }
}

button:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
    border-radius: 5px;
}

.modal-edit {
    flex-direction: column;
    input {
        margin-bottom: 10px;
    }
    //cuando no haya valores se desabilita el boton
    button:disabled {
        background-color: #ccc;
        color: #666;
        cursor: not-allowed;
    }
}
///////botones inventario
.buttons-inv {
    display: flex;
    flex-direction: row;
    &__button {
        button {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
///////////////////////////////modal detalle compra
.content-modal {
    &__detalles-gasto {
        h2,
        h3,
        th {
            color: #ffe033;
        }
    }
}

///////////////////////////////////////////////////styles grid hamburger
.burguer-grid {
    padding: 20px;
    width: 90%;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.grid-item {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: start;
}
.grid-item {
    h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: #ffe033;
    }
}

.grid-item .ingredientes {
    font-size: 0.9em;
    //margin: 10px 0;
}

.grid-item p {
    margin: 5px 0;
}

.grid-item button {
    position: absolute;
    bottom: 20px; /* Ajusta este valor para la distancia desde abajo */
    left: 20px;
    margin-top: 20px;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    img {
        width: 40px;
    }
}
.grid-data {
    margin-bottom: 100px;
}
.grid-burger img {
    margin-top: 10px;
    width: 80px;
}

.grid-item button:hover {
    background-color: #218838;
}
